{% extends 'admin/change_form.html' %}

{% load i18n admin_urls %}

{% block submit_buttons_bottom %}

<div class="submit-row">
{% block submit-row %}
{% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}
<p class="deletelink-box"><a href="{% add_preserved_filters delete_url %}" class="deletelink">{% trans "Delete" %}</a></p>
<input type="submit" value="{% trans 'Save and add another' %}" name="_addanother">

{% if original.pk %}
    {% if original.is_running %}
        <input type="submit" value="Save and stop" name="_save">
        <input type="submit" value="Save and restart" class="default" name="_start">
    {% else %}
        <input type="submit" value="Save" name="_save">
        <input type="submit" value="Save and start" class="default" name="_start">
    {% endif %}
{% else %}
    <input type="submit" value="Save" name="_save">
    <input type="submit" value="Save and start" class="default" name="_start">
{% endif %}

{% endblock %}
</div>

{% endblock %}